.pc {
  @include pc {
    display: block;
  }

  @include sp {
    display: none;
  }
}

.sp {
  @include pc {
    display: none;
  }

  @include sp {
    display: block;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  
  @include sp {
    // font-size: calc(100vw / 32);
  }
}

body {
  font-family: $yugo;
  font-size: 1.6rem;
  line-height: 1.5;
  color: $black;
}

@media all and (-ms-high-contrast: none) {
  body {
    font-family: 'メイリオ', Meiryo;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  /*
  transition: opacity $anime;
  &:hover {
    opacity: 0.9;
  }
  */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

sup {
  vertical-align: super;
  font-size: inherit;
}

// for IE11
main {
  display: block;
}

.is-hide {
  display: none;
  position: fixed;
  left: -10000px;
  top: -10000px;
  text-indent: -1000px;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transform: scale(0);
  z-index: -100000;
}